ENV=LOCAL
# Options: LOCAL, DEV, PROD

# Log configuration
LOG_ENABLE=true
LOG_HTTP_ENABLE=true
LOG_LEVEL=debug
## Options: debug, info, warning, error, critical
LOG_FORMAT=text
## Options: text, json

# Application settings
APP_NAME=MyApp
APP_VERSION=0.0.1
APP_PORT=8080

# Header settings
HEADER_REF_ID_KEY=X-Ref-ID

# Migration settings
MIGRATION_ENABLE=true
MIGRATION_SRC=file://migrations
MIGRATION_DATABASE_URL=sqlite://.local/data.db?mode=memory&cache=shared
MIGRATION_VERSION=

# Database configuration
LOCAL_DATABASE_URL=.local/data.db?mode=memory&cache=shared
DEV_DATABASE_URL=
PROD_DATABASE_URL=

# Redis configuration
## Local
LOCAL_REDIS_HOST=localhost
LOCAL_REDIS_PORT=6379
LOCAL_REDIS_DB=0
LOCAL_REDIS_PASSWORD=example
LOCAL_REDIS_USERNAME=default
LOCAL_REDIS_TIMEOUT=10s
## Dev
DEV_REDIS_HOST=
DEV_REDIS_PORT=
DEV_REDIS_DB=
DEV_REDIS_PASSWORD=
DEV_REDIS_USERNAME=
## Prod
PROD_REDIS_HOST=
PROD_REDIS_PORT=
PROD_REDIS_DB=
PROD_REDIS_PASSWORD=
PROD_REDIS_USERNAME=

# JWT configuration
LOCAL_JWT_METHOD=HS256
LOCAL_JWT_SECRET_KEY=this-is-secreate
LOCAL_JWT_VERIFY_KEY=this-is-secreate
LOCAL_JWT_ISSUER=
LOCAL_JWT_AUDIENCE=
LOCAL_JWT_EXPIRED=
